<?xml version='1.0' encoding='utf-8'?>
<!--
   Copyright 2017 Maxim Zhukov

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<plugin id="cw-swcore-ceruleanplugins-blinkflash"
        version="0.1.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

 <name>blinkFlash</name>

 <description>blinkFlash plugin from Cerulean Plugins suite (ver. 0.1.1). Flashes camera's flashlight using different patterns, supports really fast flash-noflash durations.</description>
 <author>Maxim Zhukov</author>
 <keywords>blinkFlash,CeruleanWhisper,CeruleanPlugins,Cordova,Android</keywords>
 <license>Apache-2.0</license>

 <js-module src="www/BlinkFlash.js" name="blinkFlash">
  <clobbers target="cordova.plugins.CeruleanPlugins.blinkFlash" />
 </js-module>


 <platform name="android">

  <config-file target="res/xml/config.xml"  parent="/*">
   <feature name="blinkFlash">
     <param name="android-package" value="cw.swcore.ceruleanplugins.blinkFlash" />
   </feature>
  </config-file>

  <config-file target="AndroidManifest.xml" parent="/*">
   <uses-permission android:name="android.permission.CAMERA" />
  </config-file>

  <source-file src="src/android/BlinkFlash.java" target-dir="src/cw/swcore/ceruleanplugins/blinkflash" />

  <source-file src="build-extras.gradle" target-dir="." />

 </platform>

</plugin>
