<?xml version='1.0' encoding='utf-8'?>
<!--
   Copyright 2017 Maxim Zhukov

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<plugin id="cw.plugins.cam2plug"
        version="0.0.2-alpha1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

 <name>Cam2Plug</name>

 <description>A simple, straight-up, neat camera2 Cordova-Android plugin, written mainly out of frustration and/or for testing.</description>
 <author email="mzhukov31415dev@gmail.com" href="https://github.com/mzhukov1973">Maxim Zhukov</author>

 <keywords>"ecosystem:cordova","cordova-android","camera2","plugin","android"</keywords>
 <license>Apache-2.0</license>

 <js-module name="Cam2Plug" src="www/Cam2Plug.js">
  <clobbers target="cordova.plugins.Cam2Plug" />
 </js-module>

 <platform name="android">

  <config-file parent="/*" target="res/xml/config.xml">
   <feature name="Cam2Plug">
    <param name="android-package" value="cw.plugins.cam2plug.Cam2Plug" />
    <param name="onload" value="true" />                     <!-- Not for now, at least not yet.                                                      -->
   </feature>
   <preference name="android-minSdkVersion" value="21" />    <!-- To make sure Camera2 api is available.                                              -->
   <preference name="BackgroundColor" value="FFA0A0A0" />    <!-- It's ARGB here.                                                                     -->
   <preference name="Orientation" value="portrait" />        <!-- Also can be default (both are allowed) and landscape (locked in landscape-only).    -->
   <preference name="AndroidLaunchMode" value="singleTop" /> <!-- singleTop is the default here, must try out other ways as well..                    -->
   <preference name="KeepRunning" value="true" />            <!-- It's true by default, but still, just in case..                                     -->
   <preference name="ShowTitle" value="false" />             <!-- Default here is false, and I have no idea if we need it, must try it out both ways. -->
   <preference name="LogLevel" value="VERBOSE" />            <!-- Default level is ERROR.                                                             -->
   <preference name="LoadingDialog" value="The loading dialogue title,Loading dialogue - the message itself (first comma, separating title and message will be autoremoved when parsing this string)." /> <!-- ?!?!?! and what about splashscreens?! -->
  </config-file>

  <config-file parent="/*" target="AndroidManifest.xml">
   <uses-permission android:name="android.permission.CAMERA"/>
   <uses-feature android:name="android.hardware.camera"            android:required="true" />
   <uses-feature android:name="android.hardware.camera.front"      android:required="true" />
   <uses-feature android:name="android.hardware.camera.autofocus"  android:required="false"/>
   <uses-feature android:name="android.hardware.camera.flash"      android:required="false"/>
   <uses-feature android:name="android.hardware.camera.level.full" android:required="true" />
  </config-file>

  <source-file src="src/android/Cam2Plug.java" target-dir="src/cw/plugins/cam2plug" />

  <source-file src="build-extras.gradle" target-dir="." />
 </platform>

</plugin>
